@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("./fonts/roboto-v49-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("./fonts/roboto-v49-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("./fonts/roboto-v49-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 900;
  src: url("./fonts/roboto-v49-latin-900.woff2") format("woff2");
}

:root {
  --color-brand: #2b7fff;
  --color-brand-dark: #011c44;
  --white: #fff;
  --copyright-grey: #747272;
  --description-grey: #4a4a4a;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  margin: 0;
}

h3 {
  font-size: 18px;
  line-height: 1.3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

.title-section {
  font-family: "Play", sans-serif;
  font-size: 64px;
  line-height: 100%;
  margin-bottom: 48px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Link */
.link,
.address-link {
  text-decoration: none;
  color: var(--white);
  line-height: 100%;
}

.link:hover {
  cursor: pointer;
  color: var(--color-brand);
}

/* Button */
.hero-btn {
  width: 219px;
  height: 53px;
  background-color: var(--color-brand);
  border: 4px solid var(--color-brand);
  color: var(--white);
  border-radius: 32px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 14px;
}

.hero-btn:hover {
  background: transparent;
  color: var(--color-brand);
  cursor: pointer;
}

/* Accent */
.accent {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
}

/* Header-section */
header {
  background: transparent;
  width: 100%;
  margin: 0 auto;
  background-color: #011c44;
}

.header-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 40px;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-nav-contact {
  display: flex;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-contact {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

/* Hero-section */
.hero-section {
  padding: 126px;
}

.hero-section .content {
  width: 100%;
  max-width: 529px;
}

.hero-section .hero-subtitle {
  font-size: 18px;
  margin-bottom: 16px;
}

.hero-section .hero-title {
  font-size: 140px;
  font-weight: 700;
  font-family: "Play", sans-serif;
  text-transform: capitalize;
  line-height: 0.8;
  margin-bottom: 40px;
}

.hero-section .hero-description {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
  max-width: 238px;
  text-align: center;
  color: var(--description-grey);
}

/* About Us-section */
.aboutUs-section {
  margin-bottom: 176px;
  padding: 0 100px;
}

.aboutUs-container {
  display: flex;
  justify-content: space-between;
}

.aboutUs-content {
  width: 100%;
  max-width: 709px;
  gap: 40px;
}

.aboutUs-content .title-section {
  margin-bottom: 40px;
  max-width: 510px;
}

.aboutUs-text {
  margin-bottom: 40px;
  line-height: 1.7;
}

.bold-element {
  font-weight: bold;
  color: var(--color-brand-dark);
  text-transform: capitalize;
}

/* Why We-section */
.whyWe-section .content {
  width: 100%;
  max-width: 1060px;
}

/* Our Procedures-section */
.ourProcedures-section .content {
  width: 100%;
  max-width: 1216px;
}

.procedure-card-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.procedure-card {
  width: 344px;
  height: 456px;
  border-radius: 4px 120px;
  overflow: hidden;
  padding: 0 32px;
  align-items: center;
}

/* Contact-section */
.contact-section .content {
  width: 100%;
  max-width: 1059px;
}

.contact-section .map {
  border-radius: 32px;
  min-width: 605px;
  min-height: 481px;
}

/* Footer */
.footer-section {
  background: url(./images/background_footer.png);
  background-color: var(--color-brand-dark);
}

footer .link,
footer .address-link {
  font-size: 16px;
}

address {
  font-style: normal;
}

footer .address-copyright {
  font-size: 13px;
  color: var(--copyright-grey);
}
